{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
All News
{% endblock title %}

{% block content %}
<br>
<h3>Все новости - {{ newslist|length }}</h3>
<br>
{% if newslist %}
    <table>
        <tr>
            <td>Заголовок<hr></td>
            <td>Дата публикации<hr></td>
            <td>Превью<hr></td>
        </tr>
        {% for new in newslist %}
            <tr>
                <td>{{ new.post_title|censor }}</td>
                <td>{{ new.post_creation_datetime }}</td>
<!--                <td>{{ new.preview|censor }}</td>-->
                <td>{{ new.post_body|truncatewords:20|censor }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h3>Новостей нет.</h3>
{% endif %}
{% endblock content %}