{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Поиск
{% endblock title %}

{% block content %}

<h1>Что ищем, командир?</h1>
<hr>
<form action="" method="get">
    {{ filterset.form.as_p }}
    <input type="submit" value="Поиск"/>
</form>

{% if news_search %}
    <table>
        <tr>
            <td>Заголовок<hr></td>
            <td>Дата публикации<hr></td>
            <td>Превью<hr></td>
        </tr>
        {% for new in news_search %}
            <tr>
                <td>{{ new.post_title|censor }}<hr></td>
                <td>{{ new.post_creation_datetime }}<hr></td>
                <td>{{ new.post_body|truncatewords:20|censor }}<hr></td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <hr>
    Такой новости нет.
{% endif%}

{% if page_obj.has_previous %}
    <a href="?{% url_replace page=1 %}">1</a>
    {% if page_obj.previous_page_number != 1 %}
        ...
        <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
    {% endif %}
{% endif %}

{% if news_search %}
    {{ page_obj.number }}
{% endif %}

{% if page_obj.has_next %}
    <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
    {% if paginator.num_pages != page_obj.next_page_number %}
        ...
        <a href="?{% url_replace page=paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}
{% endif %}

{% endblock content %}